<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JyazooTest2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


<%= render 'layouts/navigation' %>
<div class="container">
<%=flash[:alert] %>
</div>

<% if user_signed_in? %>

<% elsif  current_page?(root_path) %>
            
<% else %>
<%= render 'layouts/slider' %>



<% end %>



    <%= yield %>
      



</html>
